/*****************************/
/* MEDIA FOR SMALLER DESKTOP*/
/*****************************/

@media (max-width: 92rem) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 88rem) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 84rem) {
  html {
    font-size: 56%;
  }
}
@media (max-width: 82rem) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 79rem) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 76rem) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 74rem) {
  html {
    font-size: 48%;
  }
  .full-screen svg {
    width: 1rem;
    height: 1rem;
  }
  .tooltipText-return svg {
    width: 1rem;
    height: 1rem;
  }
}
@media (max-width: 71rem) {
  html {
    font-size: 46%;
  }
}
@media (max-width: 69rem) {
  html {
    font-size: 44%;
  }
}
@media (max-width: 65rem) {
  html {
    font-size: 42%;
  }
}
@media (max-width: 62rem) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 58rem) {
  html {
    font-size: 38%;
  }
}
@media (max-width: 50rem) {
  .container {
    display: none;
  }
}
