/*****************************/
/* MEDIA FOR SMALLER DESKTOP*/
/*****************************/

@media (max-width: 99rem) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 94rem) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 91rem) {
  html {
    font-size: 56%;
  }
}
@media (max-width: 88rem) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 85rem) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 82rem) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 78rem) {
  html {
    font-size: 48%;
  }
}
@media (max-width: 75rem) {
  html {
    font-size: 46%;
  }
}

@media (max-width: 72rem) {
  html {
    font-size: 44%;
  }
}
@media (max-width: 69rem) {
  html {
    font-size: 42%;
  }
}

@media (max-width: 66rem) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 63rem) {
  html {
    font-size: 38%;
  }
}
@media (max-width: 59rem) {
  html {
    font-size: 36%;
  }
}
@media (max-width: 57rem) {
  html {
    font-size: 34%;
  }
}
@media (max-width: 54rem) {
  html {
    font-size: 32%;
  }
}
@media (max-width: 51rem) {
  html {
    font-size: 30%;
  }
}
@media (max-width: 49rem) {
  html {
    font-size: 28%;
  }
}
@media (max-width: 46rem) {
  html {
    font-size: 28%;
  }
}
