* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
}
input,
textarea,
button,
select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:focus,
a:visited,
a:active {
  outline: none;
}
* {
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: 62.5%;
  text-align: center;
  outline: none;
}
body {
  font-family: 'Tajawal', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
.container {
  width: fit-content;
  margin: 0 auto;
  padding-top: 0.5rem;
}
.header {
  position: relative;
  max-width: 145rem;
  width: 145rem;
  height: 8.64vh;
  min-height: 7rem;
  border-radius: 0.7rem;
  background: #fdc53a 0% 0% no-repeat padding-box;
  box-shadow: 0 0.5rem 0.6rem #00000029;
  border: 0.4000000059604645px solid #840100;
  border-radius: 1rem;
  opacity: 1;
}
.profile {
  height: 5.81vh;
  top: 1.3vh;
  left: 1.7rem;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  border: none;
}
.profile:hover {
  cursor: pointer;
}
.profile-img {
  width: 4.4rem;
  min-height: 4rem;
  border-radius: 5rem;
  border: 0.05rem solid #840200;
}
.online {
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  background: #5aed72 0% 0% no-repeat padding-box;
  border-radius: 5rem;
  top: 5.45vh;
  left: 1.8rem;
}
.profile-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font: normal normal medium 1.4rem/1.9rem Tajawal;
  letter-spacing: 0px;
  opacity: 1;
  gap: -0.5rem;
  align-self: center;
}
.profile-name {
  font-size: 1.6rem;
  color: #000000;
  font-weight: 800;
}
.profile-state {
  font-size: 1.2rem;
  color: #840200;
  font-weight: 800;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.notif-darkmode {
  position: absolute;
  display: flex;
  gap: 1.9rem;
  left: 19.6rem;
  top: 2.92vh;
}
.opt {
  width: 2.1rem;
  height: 2.1rem;
  transition: all 0.3s;
}
.opt:hover {
  opacity: 70%;
  cursor: pointer;
}
.darkmode-btn,
.notif-btn {
  border: none;
  background: transparent;
}
.boxs {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  left: 56.5rem;
  top: 1.59vh;
}
.box {
  position: relative;
  width: 11rem;
  height: 5.31vh;
  min-height: 4rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  /* box-shadow: 0.4rem 0.5rem 0.6rem #00000029; */
  border: 0.05rem solid #840100;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  font-size: 2.1rem;
  text-align: left;
  font: normal normal medium 2.1rem/2.9rem Tajawal;
  letter-spacing: 0;
  color: #840200;
  font-weight: 500;
}
.date {
  font-size: 2.1rem;
  font-weight: 500;
  text-align: left;
  font: normal normal medium 2.1rem/2.9rem Tajawal;
  letter-spacing: 0;
  color: #840200;
}
.logo {
  position: absolute;
  left: 110.6rem;
  top: 1.2vh;
}
.logo img {
  width: 12rem;
  height: 6.5vh;
}
/* Tool Tips full screen */
.tooltipText-fullscreen {
  position: absolute;
  color: #fff;
  background-color: #000000ac;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 0.5rem;
  border-radius: 0.7rem;
  width: 14.5rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.tooltipText-fullscreen::before {
  content: '';
  position: absolute;
  left: 57%;
  top: 100%;
  transform: translateX(-50%);
  border: 0.8rem solid;
  border-color: #000000ac #0000 #0000 #0000;
}
.full-screen-btn:hover .tooltipText-fullscreen {
  top: -150%;
  left: -330%;
  visibility: visible;
  opacity: 1;
}
/* End Tool Tips full screen */
.full-screen-btn {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  right: 6.7rem;
  top: 2.92vh;
  transition: all 0.3s;
}
.left-arrow-btn {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  right: 1.1rem;
  top: 2.65vh;
  transition: all 0.3s;
}
.full-screen-img {
  width: 2.2rem;
  height: 2.65vh;
}
.left-arrow-btn-img {
  width: 2.5rem;
  height: 3.32vh;
}
.search-by-name-img {
  width: 1.5rem;
  height: 1.5rem;
}
#SvgjsG1013 {
  width: 1.2rem;
  height: 1.6vh;
}
/* Tool Tips return */
.tooltipText-return {
  position: absolute;
  color: #fff;
  background-color: #000000ac;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 0.5rem;
  border-radius: 0.7rem;
  width: 5rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.tooltipText-return::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 0.8rem solid;
  border-color: #000000ac #0000 #0000 #0000;
}
.left-arrow-btn:hover .tooltipText-return {
  top: -110%;
  left: -50%;
  visibility: visible;
  opacity: 1;
}
/* End Tool Tips return */
.pages {
  margin-top: 1.3vh;
  max-width: 140rem;
  width: 95vw;
  position: relative;
}
.header-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34.6rem;
  height: 3.85vh;
  min-height: 3rem;
  background: #fdc53a 0% 0% no-repeat padding-box;
  box-shadow: 0 0.2rem 0.6rem #00000029;
  border: 0.04000000059604645rem solid #840200;
  border-radius: 1rem;
  font-size: 1.8rem;
  text-align: left;
  font: normal normal medium 1.8rem/2.5rem Tajawal;
  letter-spacing: 0rem;
  color: #282626;
  font-weight: 700;
  z-index: 2;
}
.input-note {
  font-family: 'Tajawal', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  width: 33.9rem;
  height: 13.29vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.5rem 0.6rem #00000029;
  border: 0.020000000298023224rem solid #840200;
  border-radius: 0.7rem;
  top: 2.92vh;
  left: 0.3rem;
  z-index: 1;
  text-align: right;
  padding: 1rem;
  padding-top: 2rem;
  resize: none;
}
.input-note::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
.input-note::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #fdc53a;
}
textarea:focus,
input:focus {
  outline: none;
  /* background: none; */
}
.input-note::placeholder {
  font-family: 'Tajawal', sans-serif;
  position: absolute;
  font-size: 1.4rem;
  top: 2rem;
  width: 30.9rem;
  height: 10.29vh;
  right: 1rem;
  z-index: 3;
  letter-spacing: 0;
  color: #282626;
  font-weight: 700;
  opacity: 1;
  background: url(IMG/edit.png) no-repeat;
  background-size: 20%;
  opacity: 50%;
}
.invoice {
  position: relative;
  top: 5.31vh;
  left: 0.3rem;
  width: 33.9rem;
  height: 69.81vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0.5rem 0.4rem 0.6rem #00000029;
  border: 0.020000000298023224rem solid #840200;
  border-radius: 0.7rem;
}
.invoice-txt {
  font-size: 1.8rem;
  font: normal normal medium 1.8rem/2.5rem Tajawal;
  letter-spacing: 0px;
  color: #282626;
  text-align: center;
  margin-top: 3.98vh;
  font-weight: 600;
}
.lines {
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;
}
.line-one {
  top: 14.22vh;
  position: absolute;
}
.line-two {
  top: 20.87vh;
  position: absolute;
}
.line-three {
  top: 27.52vh;
  position: absolute;
}
.line-four {
  top: 34.17vh;
  position: absolute;
}
.line-five {
  top: 40.82vh;
  position: absolute;
}
.line-one-t,
.line-two-t,
.line-three-t,
.line-four-t,
.line-five-t {
  display: flex;
  align-items: center;
  gap: 9.3rem;
}
.line-two-t {
  gap: 11.7rem;
}
.line-three-t {
  gap: 23rem;
}
.line-four-t {
  gap: 14rem;
}
.line-five-t {
  gap: 19rem;
}
.no-tax-txt,
.tax-txt,
.khasm-txt,
.total-with-khasm-txt,
.dariba-txt {
  font-size: 1.6rem;
  font: normal normal medium 1.8rem/2.5rem Tajawal;
  letter-spacing: 0px;
  color: #282626;
  font-weight: 600;
  text-align: right;
}
.no-tax-price,
.tax-price,
.khasm-price,
.total-with-khasm-price,
.dariba-price {
  font-size: 1.6rem;
  font-weight: 700;
  color: #282626;
}
.line-ylw {
  width: 28.5rem;
  border: 0.01rem solid #fdc53a;
  margin: 1.7rem auto;
}
.total-pricing {
  position: absolute;
  top: 46.54vh;
  left: 2.5rem;
  width: 29.7rem;
  height: 5.18vh;
  background: #fff7db 0% 0% no-repeat padding-box;
  border: 0.030000001192092896rem solid #840200;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.total-pricing-txt {
  text-align: left;
  font: normal normal medium 1.6rem/2.2rem Tajawal;
  letter-spacing: 0;
  color: #000000;
  font-weight: 600;
  font-size: 1.6rem;
}
.total-price {
  background-color: #ffffff;
  width: 7rem;
  height: 3.19vh;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.total-price p {
  font-size: 1.6rem;
  font-weight: 900;
  color: #000000;
}
.sidad-btn {
  position: absolute;
  top: 59.84vh;
  left: 3.4rem;
  width: 27.1rem;
  height: 6.51vh;
  background: #fdc53a 0% 0% no-repeat padding-box;
  border: 0.020000000298023224rem solid #840100;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.5s;
}
.sidad-txt {
  font-family: 'Tajawal', sans-serif;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  text-align: left;
  font: normal normal medium 2.4rem/3.3rem Tajawal;
  letter-spacing: 0rem;
  color: #840200;
  font-size: 2.4rem;
  font-weight: 500;
  transition: all 0.8s;
}
.sidad-btn:hover {
  background: #840200 0% 0% no-repeat padding-box;
  border: 0.020000000298023224rem solid #000000;
}
.sidad-btn:hover > .sidad-txt {
  color: white;
}
.pages {
  display: flex;
  gap: 1.9rem;
}

.header-title-page2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55.8rem;
  height: 3.85vh;
  min-height: 3rem;
  background: #fdc53a 0% 0% no-repeat padding-box;
  box-shadow: 0 0.2rem 0.6rem #00000029;
  border: 0.04000000059604645rem solid #840200;
  border-radius: 1rem;
  font-size: 1.8rem;
  text-align: left;
  font: normal normal medium 1.8rem/2.5rem Tajawal;
  letter-spacing: 0rem;
  color: #282626;
  font-weight: 700;
  z-index: 4;
}
.page2-box2 {
  position: relative;
  top: 2.92vh;
  margin-left: 0.3rem;
  width: 55.3rem;
  height: 33.24vh;
  min-height: 26rem;
  background: #fff7db 0% 0% no-repeat padding-box;
  box-shadow: 0 0.4rem 0.6rem #00000029;
  border: 0.04000000059604645rem solid #830100;
  border-radius: 0.7rem;
  z-index: 1;
}
.page2-box21 {
  position: absolute;
  top: 38.7vh;
  width: 55.3rem;
  height: 49.86vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0.5rem 0.4rem 0.6rem #00000029;
  border: 0.020000000298023224rem solid #830100;
  border-radius: 0.7rem;
  margin-left: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}
.page2-box21-txt {
  text-align: left;
  font: normal normal medium 2.1rem/2.9rem Tajawal;
  letter-spacing: 0rem;
  color: #840100;
  font-size: 2.1rem;
  font-weight: 500;
}
.istimara-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3.32vh;
}
.grid1,
.grid2 {
  display: flex;
  flex-direction: column;
}
.grid1 label,
.grid2 label {
  font-size: 1.5rem;
  font-weight: 800;
  color: #840200;
  margin-right: 2.55rem;
  margin-bottom: 0.8rem;
  align-self: flex-end;
}
.grid1 input,
.grid2 input {
  position: relative;
  font-family: 'Tajawal', sans-serif;
  width: 24rem;
  height: 3.3rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0 0.3rem 0.6rem #00000029;
  border: 0.05rem solid #840200;
  border-radius: 5rem;
  margin-right: 1.1rem;
  align-self: flex-end;
  background: url(IMG/Path\ 19.png) no-repeat;
  background-position: 5%;
  background-color: #ffffff;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}
.grid1 input::placeholder,
.grid2 input::placeholder {
  font-size: 1.4rem;
  font-weight: 700;
  color: #282626;
  position: absolute;
  top: 0.66vh;
  right: 1.5rem;
}
input[type='datetime-local']::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 5rem;
  height: 4.38vh;
  position: absolute;
  left: 1rem;
  cursor: pointer;
}
input[type='datetime-local']::placeholder {
  font-family: 'Tajawal', sans-serif;
  font-size: 5rem;
  font-weight: 800;
  cursor: pointer;
}
input[type='datetime-local'] {
  text-align: center;
  background: url(IMG/calendar.png) no-repeat;
  background-size: 1.5rem 1.5rem;
  background-position: 5%;
  background-color: #ffffff;
  padding-left: 8rem;
  text-transform: uppercase;
  cursor: pointer;
}
.select {
  position: relative;
  align-self: flex-end;
  margin-right: 1.1rem;
  width: 24rem;
  height: 3.3rem;
  box-shadow: 0rem 0.3rem 0.6rem #00000029;
  border: 0.05rem solid #840200;
  border-radius: 5rem;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Remove default arrow */
  background: url(IMG/Path\ 19.png) no-repeat; /* Add custom arrow */
  background-color: #ffffff;
  background-position: 5%;
  font-size: 1.4rem;
  font-weight: 700;
  color: #282626;
  padding-right: 1.1rem;
  cursor: pointer;
}
.select .option {
  text-align: right;
}
.flex {
  display: flex;
  margin-top: 3.32vh;
}
.amil-part {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1.3rem;
}
.amil-label {
  align-self: flex-end;
  margin-bottom: 0.8rem;
  letter-spacing: 0rem;
  color: #840200;
  font-size: 1.5rem;
  font-weight: 800;
  margin-right: 1.1rem;
}
.amil-input {
  width: 45.7rem;
  height: 3.3rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.3rem 0.6rem #00000029;
  border: 0.05rem solid #840200;
  border-radius: 5rem;
  padding: 1rem;
}
.amil-input::placeholder {
  text-align: right;
  font-size: 1.4rem;
  font-weight: 700;
  color: #282626;
}
.amil-input:focus {
  background: #ffffff 0% 0% no-repeat padding-box;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 700;
  color: #282626;
}
.add-amil-btn {
  width: 4rem;
  height: 3.3rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.3rem 0.6rem #00000029;
  border: 0.05rem solid #840200;
  border-radius: 5rem;
  position: absolute;
  left: 2.6rem;
  transition: all 1s;
  cursor: pointer;
  margin-top: 3vh;
}

.add-amil-btn:hover {
  background: #892221 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
}
.add-amil-btn img {
  width: 1.4rem;
  height: 1.86vh;
}
.add-amil-btn:hover img {
  content: url(IMG/add-user-two.png);
  width: 2rem;
  height: 2.65vh;
  margin-top: 0.4rem;
}
.header-title-page3 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.2rem;
  height: 3.98vh;
  min-height: 3rem;
  background: #fdc53a 0% 0% no-repeat padding-box;
  box-shadow: 0 0.2rem 0.6rem #00000029;
  border: 0.04000000059604645rem solid #840200;
  border-radius: 1rem;
  font-size: 1.8rem;
  text-align: left;
  font: normal normal medium 1.8rem/2.5rem Tajawal;
  letter-spacing: 0rem;
  color: #282626;
  font-weight: 700;
  z-index: 4;
}
.page3-box2 {
  position: relative;
  top: 2.92vh;
  margin-left: 0.2rem;
  width: 32.8rem;
  height: 85.5vh;
  background: #ffff 0% 0% no-repeat padding-box;
  box-shadow: 0 0.4rem 0.6rem #00000029;
  border: 0.04000000059604645rem solid #830100;
  border-radius: 0.7rem;
  z-index: 1;
}
.search-by-name {
  position: absolute;
  top: 2.26vh;
  right: 1.4rem;
  width: 25.4rem;
  height: 3.3rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.3rem 0.6rem #00000029;
  border: 0.05rem solid #840200;
  font-size: 1.4rem;
  font-weight: 700;
  color: #282626;
  border-radius: 1.5rem;
  padding-right: 1.5rem;
  text-align: right;
}
.search-by-name::placeholder {
  font-size: 1.4rem;
  font-weight: 700;
  color: #282626;
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
}
.search-by-name-btn {
  position: absolute;
  top: 2.65vh;
  left: 1.5rem;
  width: 3rem;
  height: 3rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.3rem 0.6rem #00000029;
  border: 0.05rem solid #840200;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.divv.active .search-by-name {
  visibility: hidden;
}
.divv.active .search-by-name-btn {
  content: url(IMG/SvgjsG1016.png);
  padding: 0.3rem;
}
.search-by-barcode {
  visibility: hidden;
  position: absolute;
  top: 2.26vh;
  right: 1.4rem;
  width: 25.4rem;
  height: 3.3rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.3rem 0.6rem #00000029;
  border: 0.05rem solid #840200;
  font-size: 1.4rem;
  font-weight: 700;
  color: #282626;
  border-radius: 5rem;
  padding-right: 1.5rem;
  text-align: right;
}
.search-by-barcode::placeholder {
  font-size: 1.4rem;
  font-weight: 700;
  color: #282626;
  position: absolute;
  top: 0.66vh;
  right: 1.5rem;
}
.divv.active .search-by-barcode {
  visibility: visible;
}
.header-title-page4 {
  position: relative;
  right: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.1rem;
  height: 3.98vh;
  min-height: 3rem;
  background: #fdc53a 0% 0% no-repeat padding-box;
  box-shadow: 0 0.2rem 0.6rem #00000029;
  border: 0.04000000059604645rem solid #840200;
  border-radius: 1rem;
  font-size: 1.8rem;
  text-align: left;
  font: normal normal medium 1.8rem/2.5rem Tajawal;
  letter-spacing: 0rem;
  color: #282626;
  font-weight: 700;
  z-index: 4;
}
.page4-box2 {
  position: absolute;
  width: 16.6rem;
  height: 85.5vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.3rem 0.6rem #00000029;
  border: 0.020000000298023224rem solid #840200;
  border-radius: 0.7rem;
  top: 2.92vh;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.fiaat {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  margin-top: 3.32vh;
}
.fiaat button {
  position: relative;
  width: 15rem;
  height: 4.1rem;
  background: #fff7db 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.3rem 0.6rem#00000029;
  border: 0.05rem solid #840200;
  border-radius: 1.5rem;
  cursor: pointer;
  align-self: center;
  transition: 0.5s background;
}
.fiaat button:hover {
  background-color: #fdc53a;
}
.fiaat button div {
  position: absolute;
  right: 0.46rem;
  top: 0.7rem;
  width: 2.8rem;
  height: 2.6rem;
  background: #ffffff;
  border: 0.020000000298023224rem solid #840100;
  border-radius: 1.1rem;
}
.fiaa-name {
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  text-align: right;
  letter-spacing: 0px;
  color: #282626;
  font-size: 1.4rem;
  font-weight: 700;
  position: absolute;
  text-align: right;
  top: 0.8rem;
  right: 4rem;
  width: 10rem;
  height: 2.5rem;
  resize: none;
  cursor: pointer;
  white-space: nowrap;
}
.fiaa-name::-webkit-scrollbar {
  display: none;
}
/* FIAAT color for each one  */
.F-color1 {
  background-color: white;
}

.when-choose-fiaa.active .list-display-hide {
  visibility: hidden;
  opacity: 0;
}
.list-display-hide,
.chabaka-display-hide {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.list-display {
  position: absolute;
  top: 8.51vh;
  left: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}
.chabaka-txt {
  font-size: 1rem;
  font-weight: 600;
  color: #282626;
}
.chabaka-icon {
  width: 1.4rem;
  height: 1.86vh;
}
.chabaka-display {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 8.51vh;
  left: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}
.when-choose-fiaa.active .chabaka-display {
  visibility: visible;
  opacity: 1;
}
.list-txt {
  font-size: 1rem;
  font-weight: 600;
  color: #282626;
}
.list-icon {
  width: 1.4rem;
  height: 1.86;
}
.asnaf-fiaa1 {
  visibility: hidden;
  overflow-y: scroll;
  height: 71.8vh;
  width: 32.5rem;
}
.asnaf-fiaa1.active {
  visibility: visible;
  outline: none;
}
.fiaa1.active {
  background-color: #fdc53a;
}
.product-list {
  position: absolute;
  top: 3rem;
  left: -0.7rem;
}
.asnaf-fiaa1::-webkit-scrollbar {
  display: none;
}
.product-list button {
  position: relative;
  width: 31rem;
  height: 4.1rem;
  background: #fff7db 0% 0% no-repeat padding-box;
  box-shadow: 0.1rem 0.4rem 0.6rem#00000029;
  border: 0.05rem solid #840200;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: 0.5s background;
  margin-bottom: 1.4rem;
}
.product-list button:hover {
  background: #fdc53a;
}

.product-list button:hover .product-name {
  color: #000;
}
.product-name {
  position: absolute;
  text-align: right;
  top: 0.8rem;
  right: 4rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0;
  color: #282626;
  background-color: transparent;
  border: none;
  width: 21rem;
  height: 2.5rem;
  resize: none;
  cursor: pointer;
  white-space: nowrap;
}
.product-name::-webkit-scrollbar {
  display: none;
}

.product-list button .color {
  position: absolute;
  right: 0.46rem;
  top: 0.7rem;
  width: 2.8rem;
  height: 2.6rem;
  background: #ffffff;
  border: 0.020000000298023224rem solid #840100;
  border-radius: 1.1rem;
}
.product-list button .SAR {
  margin-left: 0.3rem;
}
.spans {
  position: absolute;
  left: 1.2rem;
  top: 0.8rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #840200;
  font-weight: 900;
}
/* *********************** */
/* ON CLICK DISPLAY CHABAKA */
/* *********************** */

.when-choose-fiaa.active .product-list {
  position: absolute;
  top: 3rem;
  left: -8px;
  display: grid;
  grid-template-columns: repeat(3, 8.3rem);
}
.when-choose-fiaa.active .product-list button {
  width: 10rem;
  height: 10rem;
  border-radius: 1.5rem;
  transition: none;
  margin-left: 0.3rem;
  margin-bottom: 1.7rem;
  transition: 0.5s background;
}
.when-choose-fiaa.active .product-name {
  top: 0.9rem;
  right: 0rem;
  font-size: 1.4rem;
  font-weight: 600;
  font: normal normal medium 1.6rem/2.2rem Tajawal;
  letter-spacing: 0;
  color: #282626;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  white-space: initial;
  text-align: center;
}
.when-choose-fiaa.active .product-list button .color {
  display: none;
}
.when-choose-fiaa.active .product-list button .spans {
  display: none;
}
.pricing-tables {
  position: absolute;
  top: 40vh;
  left: 36rem;
  width: 57rem;
  height: 48.5vh;
  overflow-y: scroll;
}
.pricing-tables::-webkit-scrollbar {
  display: none;
}
.pricing-box {
  position: relative;
  width: 56rem;
  height: 10.37vh;
  background: #fff7db 0% 0% no-repeat padding-box;
  box-shadow: 0.5rem 0.4rem 0.6rem #00000029;
  border: 0.05rem solid #840200;
  border-radius: 3rem;
  margin-bottom: 1.6rem;
}
.pricing-name-box {
  position: absolute;
  top: 1.46vh;
  right: 2.6rem;
  width: 35.3rem;
  height: 3.72vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.05rem solid #901b17;
  border-radius: 0.7rem;
}
.numbering-box {
  position: absolute;
  width: 1.6rem;
  height: 2.12;
  background-color: #fdc53a;
  top: 0.7vh;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.numbering-box-txt {
  font-size: 1.4rem;
  font-weight: 600;
  color: #282626;
  position: absolute;
  right: 2rem;
  width: 31.8rem;
  height: 2.4rem;
  text-align: right;
  resize: none;
  cursor: pointer;
  white-space: nowrap;
  border: none;
  background-color: transparent;
}
.numbering-box-txt::-webkit-scrollbar {
  display: none;
}
.nbr {
  font-size: 1.8rem;
  color: white;
}
.flex-list-pricing-box {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 1.8rem;
  color: #282626;
  top: 6.25vh;
  right: 2.6rem;
  gap: 2rem;
}
.kamia {
  display: flex;
  align-items: center;
}
.plus-button,
.minus-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 2.39vh;
  background: #fdc53a 0% 0% no-repeat padding-box;
  border: 0.05rem solid #ffffff;
  border-radius: 5rem;
}
.kamia-input {
  text-align: center;
  border: none;
  background-color: transparent;
  width: 2.8rem;
  font-size: 1.8rem;
  color: #282626;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.wi7da {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.wi7da select {
  text-align: right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Remove default arrow */
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(IMG/Path\ 19.png) no-repeat; /* Add custom arrow */
  background-color: #ffffff;
  background-position: 5%;
  font-size: 1.4rem;
  font-weight: 700;
  color: #282626;
  padding-left: 1.2rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.input-price {
  width: 4.4rem;
  font-size: 1.6rem;
  color: #282626;
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 1rem;
  text-align: center;
}
.khasm {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  flex-direction: row-reverse;
}
.nissba,
.oumla {
  font-size: 1.8rem;
  font-weight: 700;
  color: #282626;
}
.khasm select {
  text-align: right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Remove default arrow */
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(IMG/Path\ 23.png) no-repeat; /* Add custom arrow */
  background-color: #ffffff;
  background-position: 5%;
  font-size: 1.4rem;
  font-weight: 700;
  color: #282626;
  padding-left: 1.2rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.ijmali {
  display: flex;
  align-items: center;
  gap: 4rem;
  position: absolute;
  top: 2vh;
  left: 1rem;
}
.ijmali button {
  border: none;
  background-color: transparent;
}
.delete-icon {
  cursor: pointer;
  width: 2.2rem;
  height: 2.2rem;
}
.ijmali-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #000;
}
