* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}
html {
  font-size: 62.5%;
  text-align: center;
}
body {
  font-family: "Tajawal", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
/* .container {
  width: fit-content;
  margin: auto;
} */
.header {
  position: relative;
  max-width: 145rem;
  width: 97vw;
  height: 7.5rem;
  margin-top: 0.5rem;
  border-radius: 0.7rem;
  background: #fdc53a 0% 0% no-repeat padding-box;
  box-shadow: 0 0.5rem 0.6rem #00000029;
  border: 0.4000000059604645px solid #840100;
  border-radius: 0.7rem;
  opacity: 1;
}
.profile {
  top: 1.5rem;
  left: 1.7rem;
  position: absolute;
  display: flex;
  gap: 1rem;
  background-color: transparent;
  border: none;
}
.profile:hover {
  cursor: pointer;
}
.profile-img {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 5rem;
  border: 0.05rem solid #840200;
}
.online {
  position: absolute;
  width: 13px;
  height: 13px;
  background: #5aed72 0% 0% no-repeat padding-box;
  border-radius: 5rem;
  top: 4.58rem;
  left: 1.8rem;
}
.profile-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font: normal normal medium 1.4rem/1.9rem Tajawal;
  letter-spacing: 0px;
  opacity: 1;
  gap: -0.5rem;
}
.profile-name {
  font-size: 1.6rem;
  color: #000000;
  font-weight: 800;
}
.profile-state {
  font-size: 1.2rem;
  color: #840200;
  font-weight: 800;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.menu {
  position: relative;
  top: 6rem;
  left: 2rem;
  z-index: 99;
  width: 15.8rem;
  height: 25rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.3rem 0.6rem #00000029;
  border: 0.1rem solid #840100;
  border-radius: 1.1rem;
  visibility: hidden;
  opacity: 0;
}
.menu.active {
  visibility: visible;
  opacity: 1;
}
.menu-separition {
  position: absolute;
  width: 15.6rem;
  border: 0.1rem solid #840100;
  top: 14rem;
}
.ul-menu {
  position: absolute;
  top: 1.2rem;
}
.ul-menu2 {
  position: absolute;
  top: 15rem;
}
.menu a {
  padding-left: 1.6rem;
  height: 3rem;
  width: 15.6rem;
  text-decoration: none;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: all 0.3s;
}
.menu a:hover {
  background-color: #ffda7c;
}
.menu ul {
  list-style: none;
}

.menu img {
  margin-right: 0.6rem;
  width: 1.6rem;
  height: 1.6rem;
}
.notif-darkmode {
  position: absolute;
  display: flex;
  gap: 1.9rem;
  left: 19.6rem;
  top: 2.6rem;
}
.opt {
  width: 2.1rem;
  height: 2.1rem;
  transition: all 0.3s;
}
.opt:hover {
  opacity: 70%;
  cursor: pointer;
}
.darkmode-btn,
.notif-btn {
  border: none;
  background: transparent;
}
.boxs {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  left: 56.5rem;
  top: 1.6rem;
}
.box {
  position: relative;
  width: 11rem;
  height: 4rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0.4rem 0.5rem 0.6rem #00000029;
  border: 0.05rem solid #840100;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  font-size: 2.1rem;
  text-align: left;
  font: normal normal medium 2.1rem/2.9rem Tajawal;
  letter-spacing: 0;
  color: #840200;
  font-weight: 500;
}
.date {
  font-size: 2.1rem;
  font-weight: 500;
  text-align: left;
  font: normal normal medium 2.1rem/2.9rem Tajawal;
  letter-spacing: 0;
  color: #840200;
}
.logo {
  position: absolute;
  left: 102.6rem;
  top: 0.3rem;
}
/* Tool Tips full screen */
.tooltipText-fullscreen {
  position: absolute;
  color: #fff;
  background-color: #000000ac;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 0.5rem;
  border-radius: 0.7rem;
  width: 14.5rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.tooltipText-fullscreen::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 0.8rem solid;
  border-color: #000000ac #0000 #0000 #0000;
}
.full-screen-btn:hover .tooltipText-fullscreen {
  top: -150%;
  left: -330%;
  visibility: visible;
  opacity: 1;
}
/* End Tool Tips full screen */
.full-screen-btn {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  right: 6.7rem;
  top: 2.68rem;
  transition: all 0.3s;
}
.left-arrow-btn {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  right: 1.1rem;
  top: 2.4rem;
  transition: all 0.3s;
}

/* Tool Tips return */
.tooltipText-return {
  position: absolute;
  color: #fff;
  background-color: #000000ac;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 0.5rem;
  border-radius: 0.7rem;
  width: 5rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.tooltipText-return::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 0.8rem solid;
  border-color: #000000ac #0000 #0000 #0000;
}
.left-arrow-btn:hover .tooltipText-return {
  top: -110%;
  left: -50%;
  visibility: visible;
  opacity: 1;
}
/* End Tool Tips return */

.pages {
  margin-top: 1rem;
  max-width: 140rem;
  width: 95vw;
  position: relative;
}
/* .page1 {
} */

.header-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34.6rem;
  height: 2.9rem;
  background: #fdc53a 0% 0% no-repeat padding-box;
  box-shadow: 0 0.2rem 0.6rem #00000029;
  border: 0.04000000059604645rem solid #840200;
  border-radius: 5rem;
  font-size: 1.8rem;
  text-align: left;
  font: normal normal medium 1.8rem/2.5rem Tajawal;
  letter-spacing: 0rem;
  color: #282626;
  font-weight: 700;
  z-index: 2;
}
.input-note {
  font-family: "Tajawal", sans-serif;
  font-size: 1.4rem;
  position: relative;
  width: 33.9rem;
  height: 10rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.5rem 0.6rem #00000029;
  border: 0.020000000298023224rem solid #840200;
  border-radius: 0.7rem;
  top: 2.2rem;
  left: 0.3rem;
  z-index: 1;
  background: url(IMG/edit.png) no-repeat;
  background-size: 25%;
  background-position: 1rem 1rem;
  opacity: 50%;
  text-align: right;
  padding-right: 1rem;
}

textarea:focus,
input:focus {
  outline: none;
  background: none;
}

.input-note::placeholder {
  font-family: "Tajawal", sans-serif;
  position: absolute;
  font-size: 1.4rem;
  top: 2rem;
  right: 1rem;
  z-index: 3;
  letter-spacing: 0;
  color: #282626;
  text-align: right;
  font-weight: 700;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.invoice {
  position: relative;
  top: 4rem;
  left: 0.3rem;
  width: 33.9rem;
  height: 52.5rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0.5rem 0.4rem 0.6rem #00000029;
  border: 0.020000000298023224rem solid #840200;
  border-radius: 0.7rem;
}
.invoice-txt {
  font-size: 1.8rem;
  font: normal normal medium 1.8rem/2.5rem Tajawal;
  letter-spacing: 0px;
  color: #282626;
  text-align: center;
  margin-top: 3rem;
  font-weight: 600;
}
.lines {
  display: flex;
  flex-direction: column;
}
.line-one {
  top: 10.7rem;
  left: 1.2rem;
  position: absolute;
}
.line-two {
  top: 15.7rem;
  left: 1.2rem;
  position: absolute;
}
.line-three {
  top: 20.7rem;
  left: 1.2rem;
  position: absolute;
}
.line-four {
  top: 25.7rem;
  left: 1.2rem;
  position: absolute;
}
.line-five {
  top: 30.7rem;
  left: 1.2rem;
  position: absolute;
}
.line-one-t,
.line-two-t,
.line-three-t,
.line-four-t,
.line-five-t {
  display: flex;
  align-items: center;
  gap: 9.3rem;
}
.line-two-t {
  gap: 11.7rem;
}
.line-three-t {
  gap: 23rem;
}
.line-four-t {
  gap: 14rem;
}
.line-five-t {
  gap: 19rem;
}
.no-tax-txt,
.tax-txt,
.khasm-txt,
.total-with-khasm-txt,
.dariba-txt {
  font-size: 1.6rem;
  font: normal normal medium 1.8rem/2.5rem Tajawal;
  letter-spacing: 0px;
  color: #282626;
  font-weight: 600;
  text-align: right;
}
.no-tax-price,
.tax-price,
.khasm-price,
.total-with-khasm-price,
.dariba-price {
  font-size: 1.6rem;
  font-weight: 700;
  color: #282626;
}
.line-ylw {
  width: 28.5rem;
  border: 0.01rem solid #fdc53a;
  margin: 1.7rem auto;
}
.total-pricing {
  position: absolute;
  top: 35rem;
  left: 0.5rem;
  width: 29.7rem;
  height: 3.9rem;
  background: #fff7db 0% 0% no-repeat padding-box;
  border: 0.030000001192092896rem solid #840200;
  border-radius: 5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.total-pricing-txt {
  text-align: left;
  font: normal normal medium 1.6rem/2.2rem Tajawal;
  letter-spacing: 0;
  color: #000000;
  font-weight: 600;
  font-size: 1.6rem;
}
.total-price {
  background-color: #ffffff;
  width: 7rem;
  height: 2.4rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.total-price p {
  font-size: 1.6rem;
  font-weight: 900;
  color: #000000;
}
.sidad-btn {
  position: absolute;
  top: 45rem;
  left: 1.9rem;
  width: 27.1rem;
  height: 4.9rem;
  background: #fdc53a 0% 0% no-repeat padding-box;
  border: 0.020000000298023224rem solid #840100;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.5s;
}
.sidad-txt {
  font-family: "Tajawal", sans-serif;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  text-align: left;
  font: normal normal medium 2.4rem/3.3rem Tajawal;
  letter-spacing: 0rem;
  color: #840200;
  font-size: 2.4rem;
  font-weight: 500;
  transition: all 0.8s;
}
.sidad-btn:hover {
  background: #840200 0% 0% no-repeat padding-box;
  border: 0.020000000298023224rem solid #000000;
}
.sidad-btn:hover > .sidad-txt {
  color: white;
}
.pages {
  display: flex;
  gap: 1.9rem;
}
.logo-svg {
  width: 15.8676rem;
  height: 66.191;
}
.header-title-page2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55.8rem;
  height: 2.9rem;
  background: #fdc53a 0% 0% no-repeat padding-box;
  box-shadow: 0 0.2rem 0.6rem #00000029;
  border: 0.04000000059604645rem solid #840200;
  border-radius: 5rem;
  font-size: 1.8rem;
  text-align: left;
  font: normal normal medium 1.8rem/2.5rem Tajawal;
  letter-spacing: 0rem;
  color: #282626;
  font-weight: 700;
  z-index: 4;
}
.page2-box2 {
  position: relative;
  top: 2.2rem;
  margin-left: 0.3rem;
  width: 55.3rem;
  height: 25rem;
  background: #fff7db 0% 0% no-repeat padding-box;
  box-shadow: 0 0.4rem 0.6rem #00000029;
  border: 0.04000000059604645rem solid #830100;
  border-radius: 0.7rem;
  z-index: 1;
}
.page2-box21 {
  position: absolute;
  top: 29rem;
  left: 32.5rem;
  width: 55.3rem;
  height: 37.5rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0.5rem 0.4rem 0.6rem #00000029;
  border: 0.020000000298023224rem solid #830100;
  border-radius: 0.7rem;
  margin-left: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page2-box21-txt {
  text-align: left;
  font: normal normal medium 2.1rem/2.9rem Tajawal;
  letter-spacing: 0rem;
  color: #840100;
  font-size: 2.1rem;
  font-weight: 500;
}
.istimara-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2.5rem;
}
.grid1,
.grid2 {
  display: flex;
  flex-direction: column;
}
.grid1 label,
.grid2 label {
  font-size: 1.5rem;
  font-weight: 800;
  color: #840200;
  margin-right: 2.55rem;
  margin-bottom: 0.8rem;
  align-self: flex-end;
}
.grid1 input,
.grid2 input {
  position: relative;
  font-family: "Tajawal", sans-serif;
  width: 24rem;
  height: 3.3rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0 0.3rem 0.6rem #00000029;
  border: 0.05rem solid #840200;
  border-radius: 5rem;
  margin-right: 1.1rem;
  align-self: flex-end;
  background: url(IMG/Path\ 19.png) no-repeat;
  background-position: 5%;
  background-color: #ffffff;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}
.grid1 input::placeholder,
.grid2 input::placeholder {
  font-size: 1.4rem;
  font-weight: 700;
  color: #282626;
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 5rem;
  height: 3.3rem;
  position: absolute;
  left: 1rem;
}
input[type="date"]::placeholder {
  font-family: "Tajawal", sans-serif;
  font-size: 5rem;
  font-weight: 800;
}
input[type="date"] {
  text-align: center;
  background: url(IMG/calendar.png) no-repeat;
  background-size: 1.5rem 1.5rem;
  background-position: 5%;
  background-color: #ffffff;
  padding-left: 13rem;
  text-transform: uppercase;
}
.select {
  position: relative;
  align-self: flex-end;
  margin-right: 1.1rem;
  width: 24rem;
  height: 3.3rem;
  box-shadow: 0rem 0.3rem 0.6rem #00000029;
  border: 0.05rem solid #840200;
  border-radius: 5rem;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Remove default arrow */
  background: url(IMG/Path\ 19.png) no-repeat; /* Add custom arrow */
  background-color: #ffffff;
  background-position: 5%;
  font-size: 1.4rem;
  font-weight: 700;
  color: #282626;
  padding-right: 1.1rem;
  cursor: pointer;
}
.select .option {
  text-align: right;
}
.amil-part {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 18rem;
  right: 1.3rem;
}
.amil-label {
  align-self: flex-end;
  margin-bottom: 0.8rem;
  letter-spacing: 0rem;
  color: #840200;
  font-size: 1.5rem;
  font-weight: 800;
  margin-right: 1.1rem;
}
.amil-input {
  width: 44.7rem;
  height: 3.3rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.3rem 0.6rem #00000029;
  border: 0.05rem solid #840200;
  border-radius: 5rem;
}
.amil-input::placeholder {
  padding-right: 1rem;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 700;
  color: #282626;
}
.amil-input:focus {
  background: #ffffff 0% 0% no-repeat padding-box;
  padding-right: 1.3rem;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 700;
  color: #282626;
}
.add-amil-btn {
  width: 4rem;
  height: 3.3rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.3rem 0.6rem #00000029;
  border: 0.05rem solid #840200;
  border-radius: 5rem;
  position: absolute;
  top: 20.3rem;
  left: 1.2rem;
  transition: all 1s;
  cursor: pointer;
}
.add-amil-btn:hover {
  background: #892221 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
}
.add-amil-btn img {
  width: 1.4rem;
  height: 1.4rem;
}
.add-amil-btn:hover img {
  content: url(IMG/add-user-two.png);
  width: 2rem;
  height: 2rem;
  margin-top: 0.4rem;
}
.header-title-page3 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.2rem;
  height: 3rem;
  background: #fdc53a 0% 0% no-repeat padding-box;
  box-shadow: 0 0.2rem 0.6rem #00000029;
  border: 0.04000000059604645rem solid #840200;
  border-radius: 5rem;
  font-size: 1.8rem;
  text-align: left;
  font: normal normal medium 1.8rem/2.5rem Tajawal;
  letter-spacing: 0rem;
  color: #282626;
  font-weight: 700;
  z-index: 4;
}
.page3-box2 {
  position: relative;
  top: 2.2rem;
  margin-left: 0.2rem;
  width: 32.8rem;
  height: 64.3rem;
  background: #ffff 0% 0% no-repeat padding-box;
  box-shadow: 0 0.4rem 0.6rem #00000029;
  border: 0.04000000059604645rem solid #830100;
  border-radius: 0.7rem;
  z-index: 1;
}
.search-by-name {
  position: absolute;
  top: 1.7rem;
  right: 1.4rem;
  width: 25.4rem;
  height: 3.3rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.3rem 0.6rem #00000029;
  border: 0.05rem solid #840200;
  font-size: 1.4rem;
  font-weight: 700;
  color: #282626;
  border-radius: 5rem;
  padding-right: 1.5rem;
  text-align: right;
}
.search-by-name::placeholder {
  font-size: 1.4rem;
  font-weight: 700;
  color: #282626;
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
}
.search-by-name-btn {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  width: 3rem;
  height: 3rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.3rem 0.6rem #00000029;
  border: 0.05rem solid #840200;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.divv.active .search-by-name {
  visibility: hidden;
}
.divv.active .search-by-name-btn {
  content: url(IMG/SvgjsG1016.png);
  padding: 0.3rem;
}
.search-by-barcode {
  visibility: hidden;
  position: absolute;
  top: 1.7rem;
  right: 1.4rem;
  width: 25.4rem;
  height: 3.3rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.3rem 0.6rem #00000029;
  border: 0.05rem solid #840200;
  font-size: 1.4rem;
  font-weight: 700;
  color: #282626;
  border-radius: 5rem;
  padding-right: 1.5rem;
  text-align: right;
}
.search-by-barcode::placeholder {
  font-size: 1.4rem;
  font-weight: 700;
  color: #282626;
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
}
.divv.active .search-by-barcode {
  visibility: visible;
}
.header-title-page4 {
  position: relative;
  right: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.1rem;
  height: 3rem;
  background: #fdc53a 0% 0% no-repeat padding-box;
  box-shadow: 0 0.2rem 0.6rem #00000029;
  border: 0.04000000059604645rem solid #840200;
  border-radius: 5rem;
  font-size: 1.8rem;
  text-align: left;
  font: normal normal medium 1.8rem/2.5rem Tajawal;
  letter-spacing: 0rem;
  color: #282626;
  font-weight: 700;
  z-index: 4;
}
.page4-box2 {
  position: absolute;
  width: 16.6rem;
  height: 64.3rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.3rem 0.6rem #00000029;
  border: 0.020000000298023224rem solid #840200;
  border-radius: 0.7rem;
  top: 2.2rem;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.fiaat {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  margin-top: 2.5rem;
}
.fiaat button {
  position: relative;
  width: 10.9rem;
  height: 4.1rem;
  background: #fff7db 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.3rem 0.6rem#00000029;
  border: 0.05rem solid #840200;
  border-radius: 5rem;
  cursor: pointer;
  align-self: center;
  transition: 0.5s background;
}
.fiaat button:hover {
  background-color: #fdc53a;
}
.fiaat button div {
  position: absolute;
  right: 0.46rem;
  top: 0.7rem;
  width: 2.8rem;
  height: 2.6rem;
  background: #ffffff;
  border: 0.020000000298023224rem solid #840100;
  border-radius: 7rem;
}
.fiaa-name {
  font-size: 1.4rem;
  text-align: right;
  letter-spacing: 0px;
  color: #282626;
  font-size: 1.4rem;
  font-weight: 700;
  padding-right: 4rem;
}
/* FIAAT color for each one  */
.F-color1 {
  background-color: white;
}

.when-choose-fiaa.active .list-display-hide {
  visibility: hidden;
  opacity: 0;
}
.list-display-hide,
.chabaka-display-hide {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.list-display {
  position: absolute;
  top: 6.4rem;
  left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}
.chabaka-txt {
  font-size: 1rem;
  font-weight: 600;
  color: #282626;
}
.chabaka-icon {
  width: 1.4rem;
  height: 1.4rem;
}
.chabaka-display {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 6.4rem;
  left: 2.2rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}
.when-choose-fiaa.active .chabaka-display {
  visibility: visible;
  opacity: 1;
}
.list-txt {
  font-size: 1rem;
  font-weight: 600;
  color: #282626;
}
.list-icon {
  width: 1.4rem;
  height: 1.4rem;
}
.asnaf-fiaa1 {
  visibility: hidden;
  overflow-y: scroll;
  height: 54rem;
  width: 29rem;
}
.asnaf-fiaa1.active {
  visibility: visible;
}
.fiaa1.active {
  background-color: #fdc53a;
}
.product-list {
  position: absolute;
  top: 3rem;
  left: -0.7rem;
}
.asnaf-fiaa1::-webkit-scrollbar {
  display: none;
}
.product-list button {
  position: relative;
  width: 26.8rem;
  min-height: 4rem;
  background: #fff7db 0% 0% no-repeat padding-box;
  box-shadow: 0.1rem 0.4rem 0.6rem#00000029;
  border: 0.05rem solid #840200;
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.5s background;
  margin-bottom: 1.4rem;
}
.product-list button:hover {
  background: #fdc53a;
}

.product-list button:hover .product-name {
  color: #000;
}
.product-name {
  position: absolute;
  text-align: right;
  top: 0.9rem;
  right: 4.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  font: normal normal medium 1.6rem/2.2rem Tajawal;
  letter-spacing: 0;
  color: #282626;
}
.product-list button .color {
  position: absolute;
  right: 1.3rem;
  top: 0.7rem;
  width: 2.8rem;
  height: 2.6rem;
  background: #ffffff;
  border: 0.020000000298023224rem solid #840100;
  border-radius: 7rem;
}
.product-list button .SAR {
  margin-left: 0.3rem;
}
.spans {
  position: absolute;
  left: 2.2rem;
  top: 01rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #840200;
  font-weight: 900;
}
/* *********************** */
/* ON CLICK DISPLAY CHABAKA */
/* *********************** */

.when-choose-fiaa.active .product-list {
  position: absolute;
  top: 3rem;
  left: -8px;
  display: grid;
  grid-template-columns: repeat(3, 8.3rem);
}
.when-choose-fiaa.active .product-list button {
  width: 9rem;
  height: 8.9rem;
  border-radius: 0.7rem;
  transition: none;
  margin-left: 0.3rem;
  margin-bottom: 1.7rem;
  transition: 0.5s background;
}
.when-choose-fiaa.active .product-name {
  top: 0.9rem;
  right: 0rem;
  font-size: 1.4rem;
  font-weight: 600;
  font: normal normal medium 1.6rem/2.2rem Tajawal;
  letter-spacing: 0;
  color: #282626;
  margin-left: 1rem;
  margin-right: 1rem;
}
.when-choose-fiaa.active .product-list button .color {
  display: none;
}
.when-choose-fiaa.active .product-list button .spans {
  display: none;
}
.pricing-box {
  position: relative;
  width: 52.3rem;
  height: 7.8rem;
  background: #fff7db 0% 0% no-repeat padding-box;
  box-shadow: 0.5rem 0.4rem 0.6rem #00000029;
  border: 0.05rem solid #840200;
  border-radius: 5rem;
}
.pricing-name-box {
  position: absolute;
  top: 1.1rem;
  right: 2.6rem;
  width: 33.3rem;
  height: 2.8rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.05rem solid #901b17;
  border-radius: 0.7rem;
}
.numbering-box {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #fdc53a;
  top: 0.58rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nbr {
  font-size: 1.8rem;
  color: white;
}
.flex-list-pricing-box {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 1.8rem;
  color: #282626;
  top: 4.7rem;
  right: 3.6rem;
  gap: 4.6rem;
}
.kamia {
  display: flex;
  align-items: center;
}
.plus-button,
.minus-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  background: #fdc53a 0% 0% no-repeat padding-box;
  border: 0.05rem solid #ffffff;
  border-radius: 5rem;
}
.plus-button {
}
.kamia-input {
  text-align: center;
  border: none;
  background-color: transparent;
  width: 2.3rem;
  font-size: 1.8rem;
  color: #282626;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.wi7da {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.wi7da select {
  text-align: right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Remove default arrow */
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(IMG/Path\ 19.png) no-repeat; /* Add custom arrow */
  background-color: #ffffff;
  background-position: 5%;
  font-size: 1.4rem;
  font-weight: 700;
  color: #282626;
  padding-left: 1.2rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.khasm {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  flex-direction: row-reverse;
}
.nissba,
.oumla {
  font-size: 1.8rem;
  font-weight: 700;
  color: #282626;
}
.khasm select {
  text-align: right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Remove default arrow */
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(IMG/Path\ 23.png) no-repeat; /* Add custom arrow */
  background-color: #ffffff;
  background-position: 5%;
  font-size: 1.4rem;
  font-weight: 700;
  color: #282626;
  padding-left: 1.2rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.ijmali {
  display: flex;
  align-items: center;
  gap: 2.8rem;
  position: absolute;
  top: 1.4rem;
  left: 2.5rem;
}
.ijmali button {
  border: none;
  background-color: transparent;
}
.delete-icon {
  width: 2.2rem;
  height: 2.2rem;
}
.ijmali-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #000;
}
