* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Tajawal", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
.header {
  position: relative;
  max-width: 140rem;
  height: 7.5rem;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 0.7rem;
  background: #fdc53a 0% 0% no-repeat padding-box;
  box-shadow: 0 0.5rem 0.6rem #00000029;
  border: 0.4000000059604645px solid #840100;
  border-radius: 0.7rem;
  opacity: 1;
}
.profile {
  top: 1.5rem;
  left: 1.7rem;
  position: absolute;
  display: flex;
  gap: 1rem;
  background-color: transparent;
  border: none;
}
.profile:hover {
  cursor: pointer;
}
.profile-img {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 5rem;
  border: 0.05rem solid #840200;
}
.online {
  position: absolute;
  width: 13px;
  height: 13px;
  background: #5aed72 0% 0% no-repeat padding-box;
  border-radius: 5rem;
  top: 4.58rem;
  left: 1.8rem;
}
.profile-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font: normal normal medium 1.4rem/1.9rem Tajawal;
  letter-spacing: 0px;
  opacity: 1;
  gap: -0.5rem;
}
.profile-name {
  font-size: 1.6rem;
  color: #000000;
  font-weight: 800;
}
.profile-state {
  font-size: 1.2rem;
  color: #840200;
  font-weight: 800;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.menu {
  position: relative;
  z-index: 99;
  width: 15.8rem;
  height: 25rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.3rem 0.6rem #00000029;
  border: 0.1rem solid #840100;
  border-radius: 1.1rem;
}
.menu-separition {
  position: absolute;
  width: 15.6rem;
  border: 0.1rem solid #840100;
  top: 14rem;
}
.ul-menu {
  position: absolute;
  top: 1.2rem;
}
.ul-menu2 {
  position: absolute;
  top: 15rem;
}
.menu a {
  padding-left: 1.6rem;
  height: 3rem;
  width: 15.6rem;
  text-decoration: none;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: all 0.3s;
}
.menu a:hover {
  background-color: #ffda7c;
}
.menu ul {
  list-style: none;
}

.menu img {
  margin-right: 0.6rem;
  width: 1.6rem;
  height: 1.6rem;
}
.notif-darkmode {
  position: absolute;
  display: flex;
  gap: 1.9rem;
  left: 19.6rem;
  top: 2.6rem;
}
.opt {
  width: 2.1rem;
  height: 2.1rem;
  transition: all 0.3s;
}
.opt:hover {
  opacity: 70%;
  cursor: pointer;
}
.darkmode-btn,
.notif-btn {
  border: none;
  background: transparent;
}
.boxs {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  left: 56.5rem;
  top: 1.6rem;
}
.box {
  position: relative;
  width: 11rem;
  height: 4rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0.4rem 0.5rem 0.6rem #00000029;
  border: 0.05rem solid #840100;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  font-size: 2.1rem;
  text-align: left;
  font: normal normal medium 2.1rem/2.9rem Tajawal;
  letter-spacing: 0;
  color: #840200;
  font-weight: 500;
}
.date {
  font-size: 2.1rem;
  font-weight: 500;
  text-align: left;
  font: normal normal medium 2.1rem/2.9rem Tajawal;
  letter-spacing: 0;
  color: #840200;
}
.logo {
  position: absolute;
  left: 102.6rem;
  top: 0.3rem;
}
.full-screen-btn {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  right: 6.7rem;
  top: 2.68rem;
  transition: all 0.3s;
}
.full-screen-btn:hover {
  opacity: 50%;
}
.left-arrow-btn {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  right: 1.1rem;
  top: 2.4rem;
  transition: all 0.3s;
}
.left-arrow-btn:hover {
  opacity: 50%;
}
.pages {
  margin-top: 2rem;
  max-width: 140rem;
  margin: 2rem auto;
  position: relative;
}
/* .page1 {
} */

.header-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31.6rem;
  height: 2.9rem;
  background: #fdc53a 0% 0% no-repeat padding-box;
  box-shadow: 0 0.2rem 0.6rem #00000029;
  border: 0.04000000059604645rem solid #840200;
  border-radius: 5rem;
  font-size: 1.8rem;
  text-align: left;
  font: normal normal medium 1.8rem/2.5rem Tajawal;
  letter-spacing: 0rem;
  color: #282626;
  font-weight: 700;
  z-index: 2;
}
.input-note {
  font-family: "Tajawal", sans-serif;
  font-size: 1.4rem;
  position: relative;
  width: 30.9rem;
  height: 10rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.5rem 0.6rem #00000029;
  border: 0.020000000298023224rem solid #840200;
  border-radius: 0.7rem;
  top: 2.2rem;
  left: 0.3rem;
  z-index: 1;
  background: url(IMG/edit.png) no-repeat;
  background-size: 25%;
  background-position: 1rem 1rem;
  opacity: 50%;
  text-align: right;
}

textarea:focus,
input:focus {
  outline: none;
}

.input-note::placeholder {
  font-family: "Tajawal", sans-serif;
  position: absolute;
  font-size: 1.4rem;
  top: 2rem;
  right: 1rem;
  z-index: 3;
  letter-spacing: 0;
  color: #282626;
  text-align: right;
  font-weight: 700;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.invoice {
  position: relative;
  top: 4rem;
  left: 0.3rem;
  width: 30.9rem;
  height: 52.5rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0.5rem 0.4rem 0.6rem #00000029;
  border: 0.020000000298023224rem solid #840200;
  border-radius: 0.7rem;
}
.invoice-txt {
  font-size: 1.8rem;
  font: normal normal medium 1.8rem/2.5rem Tajawal;
  letter-spacing: 0px;
  color: #282626;
  text-align: center;
  margin-top: 3rem;
  font-weight: 600;
}
.lines {
  display: flex;
  flex-direction: column;
}
.line-one {
  top: 10.7rem;
  left: 1.2rem;
  position: absolute;
}
.line-two {
  top: 15.7rem;
  left: 1.2rem;
  position: absolute;
}
.line-three {
  top: 20.7rem;
  left: 1.2rem;
  position: absolute;
}
.line-four {
  top: 25.7rem;
  left: 1.2rem;
  position: absolute;
}
.line-five {
  top: 30.7rem;
  left: 1.2rem;
  position: absolute;
}
.line-one-t,
.line-two-t,
.line-three-t,
.line-four-t,
.line-five-t {
  display: flex;
  align-items: center;
  gap: 9.3rem;
}
.line-two-t {
  gap: 11.7rem;
}
.line-three-t {
  gap: 23rem;
}
.line-four-t {
  gap: 14rem;
}
.line-five-t {
  gap: 19rem;
}
.no-tax-txt,
.tax-txt,
.khasm-txt,
.total-with-khasm-txt,
.dariba-txt {
  font-size: 1.6rem;
  font: normal normal medium 1.8rem/2.5rem Tajawal;
  letter-spacing: 0px;
  color: #282626;
  font-weight: 600;
  text-align: right;
}
.no-tax-price,
.tax-price,
.khasm-price,
.total-with-khasm-price,
.dariba-price {
  font-size: 1.6rem;
  font-weight: 700;
  color: #282626;
}
.line-ylw {
  width: 28.5rem;
  border: 0.1rem solid #fdc53a;
  margin: 1.7rem auto;
}
.total-pricing {
  position: absolute;
  top: 35rem;
  left: 0.5rem;
  width: 29.7rem;
  height: 3.9rem;
  background: #fff7db 0% 0% no-repeat padding-box;
  border: 0.030000001192092896rem solid #840200;
  border-radius: 5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.total-pricing-txt {
  text-align: left;
  font: normal normal medium 1.6rem/2.2rem Tajawal;
  letter-spacing: 0;
  color: #000000;
  font-weight: 600;
  font-size: 1.6rem;
}
.total-price {
  background-color: #ffffff;
  width: 7rem;
  height: 2.4rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.total-price p {
  font-size: 1.6rem;
  font-weight: 900;
  color: #000000;
}
.sidad-btn {
  position: absolute;
  top: 45rem;
  left: 1.9rem;
  width: 27.1rem;
  height: 4.9rem;
  background: #fdc53a 0% 0% no-repeat padding-box;
  border: 0.020000000298023224rem solid #840100;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.5s;
}
.sidad-txt {
  font-family: "Tajawal", sans-serif;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  text-align: left;
  font: normal normal medium 2.4rem/3.3rem Tajawal;
  letter-spacing: 0rem;
  color: #840200;
  font-size: 2.4rem;
  font-weight: 500;
  transition: all 0.5s;
}
.sidad-btn:hover {
  opacity: 60%;
  background: #000000 0% 0% no-repeat padding-box;
  border: 0.020000000298023224rem solid #000000;
}
.sidad-btn:hover > .sidad-txt {
  color: white;
}
